@import url("profil-global-structure.css");

/* Header */
#page #profil-overture #profil-change-access-bg{position:absolute;	top:20px;	right:20px;}
#page #profil-overture #profil-change-access{position:absolute;	top:20px;	right:20px;	text-indent:0px; padding:10px 8px 22px 8px; width:170px;}
#page #profil-change-access span.btn{bottom: -16px;	right:-13px;}
#page #profil-content h1{margin-top:20px;	margin-bottom:0px;}

/* Global */
#page table td.libelle { width:130px; padding-right:10px; }
#page .right-col table td.libelle {width:180px;}
#page .right-col dt{width:180px;	margin-right:10px;}
#page .right-col dd{width:240px;}
#page div.contour-double-large{padding:14px 10px 25px 130px;	width:650px;	margin-left:30px;	margin-top:20px;}

/* 1.Identifiants et donnees perso */
#page .right-col dd.email, 
#page .right-col dd.passwd{position:relative;	padding-right:20px;	width:220px;	height:18px;}
#page dd.email img, #page dd.passwd img{position:absolute;	top:0px;	right:0px;}
#page #user-email-container td.user-infos, #page #user-password-container td.user-infos{position:relative; display:block;}
#page #user-email-container img, #page #user-password-container img{position:absolute;	top:3px;	right:0px;}
#page .right-col dt.remember{width:auto;}
#page .right-col dd.remember{width:auto;	float:right;}
#page dd.remember ul{overflow:hidden;	zoom:1;}
#page dd.remember li{margin-left:10px;	float:left;}

/* 2. Infos Complementaires */
#page #user-birthDate-container select#user-birthDay, #page #user-birthDate-container select#user-birthMonth{margin-right:20px;}
#page .langues select, #page .devise select{width:85px;}
/*#page .fieldset-container dl.sms{padding-top:12px;}
#page dl.sms ul{overflow:hidden;	zoom:1;}
#page .fieldset-container .right-col dl.sms dt{width:auto;}
#page .fieldset-container .right-col dl.sms dd{width:auto;}
#page dl.sms li{float:left;	margin-right:15px;}*/
#page #fieldset2 div.left-col a img{vertical-align:bottom;}
#page #user-phoneNumber-container td.user-infos{position:relative; display:block;}
#page #user-phoneNumber-container img{position:absolute;	top:3px;	left: 155px;}
#page #user-phoneNumber-container input.text{width:100px;}
#page #fieldset2 div.right-col dl{padding-bottom:0px;}
#page #fieldset2 div.right-col dt, #page #fieldset2 div.right-col dd{margin-bottom:12px;}
#page input.indicatif { width:30px; }
#page #fieldset2 #user-language-container .tooltipLink {vertical-align: bottom;}

/* 1. et 2. */
#page #fieldset1 .right-col #user-automaticLogin-container td.libelle,
/*#page #fieldset2 .right-col #user-SMSconfirmation-container td.libelle{width:auto;}*/
#page #user-automaticLogin-container .automaticLoginCell, #page #user-SMSconfirmation-container .smsConfCell{text-align:right;}

/* 3.Abonnements */
/*#page #fieldset3 a img.tooltip{vertical-align:bottom;}
#page #bloc-abonnements, #page #bloc-abonnements-pro{padding: 5px 0 10px 15px;	width:775px;	margin-top:10px;}
#page #bloc-abonnements .checkbox, #page #bloc-abonnements-pro .checkbox{margin:0 5px 0 5px;vertical-align:bottom;}
#page #bloc-abonnements h2{height:26px;	padding-left:50px;	padding-top:10px;	margin-bottom:3px;}
#page #bloc-abonnements-pro h2{height:34px;	padding-left:50px;	padding-top:2px;	margin-bottom:3px;}
#page ul.newsletter{margin-top:10px; overflow:hidden; zoom:1; width:760px;}
#page ul.newsletter li{float:left; padding-bottom:5px; width:50%;}
#page #bloc-abonnements p{margin-bottom:3px;}*/

/* 4. Cartes de fid */
/*#page #bloc-cartes{margin-bottom:10px;	padding-left:80px;	width:700px;	margin-top:10px;}
#page #bloc-cartes .etiquette{position:absolute;	width:84px;	height:52px;	top:-12px;	left:-12px;}
#page select.type-carte{width:230px;	margin-left:20px;	margin-right:20px;}
#page #bloc-cartes input.text{width:160px;	margin-left:5px;}
#page #bloc-cartes div.liste-carte{position:relative;}
#page #bloc-cartes div.liste-carte ul{overflow:hidden;	zoom:1;}
#page #bloc-cartes div.liste-carte ul li{float:left;}
#page #bloc-cartes div.liste-carte a.suppression{position:absolute;	top:-1px;	right:25px;	height:21px;	width:21px;}
#page #bloc-cartes div.liste-carte a img, 
#page #bloc-cartes div.liste-carte select{vertical-align:bottom;}
#page div.liste-carte{margin-top:7px;	margin-bottom:7px;}
#page #addCard{bottom:-2px; right:0px;}*/

/* 5. Sécurity */
#page #bloc-security, #page #bloc-security-pro{padding: 0 0 10px 15px;	width:777px; height:90px;margin-top:10px;margin-bottom:30px;}
#page #bloc-security  #captcha-img {float:left; width:230px; margin:20px 10px;}
#page #bloc-security #captcha-sticky-img {width: 200px;}
#page #bloc-security #user-captcha-container {float:left; margin-top:20px;} 
#page #bloc-security  input.text{width:160px;	margin-left:5px;}
#page #bloc-security li {line-height:35px;}

/* Style Pro */
#page.pro #profil-overture #profil-change-access-bg{top:40px;}
#page.pro #profil-overture #profil-change-access{top:40px;}
/* Fin Style Pro */
