# docker env file
# This file is used to set environment variables for the Docker container.

UID=1000
GID=1000

TIMEZONE=Asia/Riyadh
DB_DATABASE=<DATABASE_NAME>
DB_USERNAME=<DATABASE_USER>
DB_PASSWORD=<DATABASE_PASSWORD>
FORWARD_DB_PORT=5432