version: "3"
services:
  almosanadah-db:
    image: "postgres:17"
    restart: unless-stopped
    networks:
      almosanadah-public: null
      internal: null
    ports:
      - "${FORWARD_DB_PORT:-5432}:5432"
    volumes:
      - "almosanadah_db_data:/var/lib/postgresql/data"
      - "./config/postgresdb/pg_hba.conf:/etc/postgresql/pg_hba.conf"
      - "./config/postgresdb/postgresql.conf:/etc/postgresql/postgresql.conf"
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: ${TIME_ZONE}
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256" # Specifies SCRAM-SHA-256 for host and local connections

  almosanadah-php:
    build:
      context: ./php-image
      args: [http_proxy, https_proxy, ftp_proxy]
    networks:
      internal: null
    links:
      - "almosanadah-db:postgres"
    volumes:
      - "./config/php/php.ini:/usr/local/etc/php/php.ini"
      - "./config/php/php-fpm.conf:/usr/local/etc/php-fpm.conf"
      - "./config/php/timezone:/etc/timezone"
      - ".:/var/www/html"
    user: www-data
    environment:
      DEBUG: "True"
  almosanadah-front:
    depends_on:
      almosanadah-php:
        condition: service_started
    image: "nginx:alpine"
    labels:
      traefik.docker.network: almosanadah-traefik-public
      traefik.enable: "true"
      traefik.http.routers.almosanadah-one-http.entrypoints: http
      # traefik.http.routers.almosanadah-one-http.middlewares: https-redirect
      traefik.http.routers.almosanadah-one-http.rule: Host(`dorslocal.kohinur.in`)
      traefik.http.routers.almosanadah-one-http.service: almosanadah-one
      # traefik.http.routers.almosanadah-one-https.entrypoints: https
      # traefik.http.routers.almosanadah-one-https.rule: Host(`dors.kohinur.in`)
      # traefik.http.routers.almosanadah-one-https.service: almosanadah-one
      # traefik.http.routers.almosanadah-one-https.tls: "true"
      # traefik.http.routers.almosanadah-one-https.tls.certresolver: le
      traefik.http.services.almosanadah-one.loadbalancer.server.port: "80"
    networks:
      almosanadah-public: null
      internal: null
      almosanadah-traefik-public: null
    links:
      - almosanadah-php
    volumes:
      - "./config/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf"
      - "./config/nginx/nginx.conf:/etc/nginx/nginx.conf"
      - ".:/var/www/html"
volumes:
  almosanadah_db_data:
    driver: local
networks:
  almosanadah-traefik-public:
    external: true
  almosanadah-public:
    external: false
  internal:
    external: false
