
/* footer */
#footer{
	margin-bottom:15px;
}
#footers li{
	display:inline;
	padding: 0 4px 0 5px;
	background:url("/imagerie/commun/bg_sep.gif") no-repeat 0 3px;
}
#footer li.last{
	background:none;
	padding-right:0;
	display: block;
}
#footer a,#footer-seo .description,#footer-seo h2,#footer-seo a{
	color:#012f6d;
}
#footer-seo h2{
	font-size:1em;
	display:inline;
}
#listeVille {
	margin-bottom:18px;
	position:relative;
}
#listeVille ul  {
	display:inline;
	line-height: 1.1em;
}
#footers #listeVille li{
	background:url("/imagerie/commun/bg_sep.gif") no-repeat 0 3px;	
	/background:url("/imagerie/commun/bg_sep.gif") no-repeat 100% 3px;
}
#footers #listeVille li.first{
 	background:none;
 	/background:url("/imagerie/commun/bg_sep.gif") no-repeat 100% 3px;
}
#footers #listeVille li.last{
	/background:none;
	/padding: 0;
}				
#listeHotels ul {
  text-align: center;
	margin:0 auto;
	display:block;
	padding-top:6px;
	/*padding-left:100px;
	width:800px;*/
	padding-left:70px;
	width:770px;
}
#listeHotels {

	border-top:1px solid #b0bfd3;
	border-bottom:1px solid #b0bfd3;
	margin-bottom:12px;
	min-height:28px;
	_height:28px;
	position:relative;
}
#footer-seo li{
	display:inline;
}
#footers .first{
	background:none;
	padding-left:0;
}
#lienAiClub{
	top:0;
	right:0;
	position:absolute;
}
#lienAccorHotel{
	top:0;
	left:0;
	position:absolute;
}
#copyright{
	color:#012f6d;
}
