@import url("profil-identification-structure-common.css");

/* new design */
#profil-identification #page #profil-titre-page{
    font-size:1em !important;
    line-height:1.1em;
    top:82px !important;
}
