/* Balises, classes génériques */
/* template avec  LAST */
body{
	font-size:68.75%;
	/*font-size:65%;*/
	margin:0;
}
body *{
	font-family:"Trebuchet MS", tahoma,arial, sans-serif;
	text-align:left;
}
* {
	outline:none;
}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	line-height:normal;
}
table {
border-collapse:collapse;
border-spacing:0;
}
fieldset,img,a img,abbr,acronym { 
	border:0;
}
address,caption,cite,code,dfn,em,th,var ,h1,h2,h3,h4,h5,h6 {
	font-style:normal;
	font-weight:normal;
}
ol,ul,li {
	list-style:none;
	padding:0;
	margin:0;
}

ul.uldot{ list-style: disc !important; 
    list-style-position: outside !important;}

.uldot{list-style: disc !important; 
    list-style-position: outside !important;}

.liDot{list-style: disc !important; 
    list-style-position: inside !important;}
.liDot.marge{margin-bottom:15px}

label{
	cursor:pointer;
}

legend{
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.hidden{
	visibility:hidden;
	position:absolute;
	left:-5000px;
	top:0;
}
.noBorder{
	border:none;
}
.center{
	text-align:center;
}
.italic{
	font-style:italic;
}
.none{
	position:absolute;
	top:0;
	left:-3000px;
}
.block{
	display:block;
}
.cBoth{
	clear:both;
}

.last{
	margin-bottom:0 !important;
	border:0t;
	background:0;
}
.first{
	padding-left:0;
}

.both:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
* html .both{
	height:1%;
}
*:first-child+html .both{
	height:1%;
}
	
.fLeft{
	float:left;
}
.fRight{
	float:right;
}
fieldset{
	border:none;
}
caption{
	display:none;
}


#bonsPlans-noh{
			background:url("../images/bg_bons-plans.gif") no-repeat left bottom;
			width:276px;
		}
		#bonsPlans-noh h2 {
			background:url("../images/bg_titre-bloc_vert.gif") no-repeat left top;
			padding: 6px 15px 7px 15px;
			color:white;
			font-weight:bold;
			font-size:1.2em;
            height:18px;
		}
        #bonsPlans-noh h2 a:hover{
            text-decoration:none;
        }




/* proprietes communes et taille de typos specifiques au site */
body{
	background: url("../images/bg_body.jpg") repeat-x left top;
	color:black;
	padding-bottom:60px;
}
a{
	color:#005b93;
}
.last{
	margin-right:0;
}
#footers{font-size:10px !important; font-family:"Trebuchet MS", tahoma,arial, sans-serif; text-align:left;}
