
@media Print    
{
.no-print {
	DISPLAY: none
}
    }
.header-top {
	COLOR: black; BACKGROUND-COLOR: #c8d0e0
}
.header-bottom {
	COLOR: black; BACKGROUND-COLOR: #98a0b8
}
.footer-top {
	COLOR: black; BACKGROUND-COLOR: #98a0b8
}
.footer-bottom {
	COLOR: black; BACKGROUND-COLOR: #c8d0e0
}
.footer-button {
	PADDING-LEFT: 2px; FONT-SIZE: 8pt; VERTICAL-ALIGN: bottom; TEXT-ALIGN: center
}
.layout-separator {
	HEIGHT: 1px; BACKGROUND-COLOR: #333366
}
.hilite {
	COLOR: black; BACKGROUND-COLOR: yellow
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
KBD {
	COLOR: #003366; FONT-FAMILY: Courier, monospace
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: white
}
BODY {
	FONT-SIZE: 11pt; FONT-FAMILY: arial,helvetica,sans-serif
}
TD {
	FONT-SIZE: 11pt; FONT-FAMILY: arial,helvetica,sans-serif
}
TH {
	FONT-SIZE: 11pt; FONT-FAMILY: arial,helvetica,sans-serif
}
BLOCKQUOTE {
	FONT-SIZE: 9pt; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 2em; MARGIN-RIGHT: 2em; FONT-FAMILY: verdana, sans-serif
}
.breadcrumbs {
	BORDER-RIGHT: #98a0b8 1px dashed; PADDING-RIGHT: 2px; BORDER-TOP: #98a0b8 1px dashed; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #98a0b8 1px dashed; PADDING-TOP: 2px; BORDER-BOTTOM: #98a0b8 1px dashed
}
.small {
	FONT-SIZE: 9pt; FONT-FAMILY: arial,helvetica,sans-serif
}
.small A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #000099
}
A:active {
	COLOR: #0000ff
}
A:visited {
	COLOR: #000055
}
.header-top A:link {
	COLOR: white
}
.header-top A:active {
	COLOR: white
}
.header-top A:visited {
	COLOR: white
}
LABEL {
	CURSOR: pointer
}
UL.st-markup {
	MARGIN-TOP: 0.25em
}
OL.st-markup {
	MARGIN-TOP: 0.25em
}
UL.st-markup LI {
	MARGIN-BOTTOM: 0.25em
}
OL.st-markup LI {
	MARGIN-BOTTOM: 0.25em
}
P.st-markup {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 0.2em
}
BLOCKQUOTE.st-markup {
	BORDER-RIGHT: #c8d0e0 1px dashed; BORDER-TOP: #c8d0e0 1px dashed; MARGIN-BOTTOM: 1em; BORDER-LEFT: #c8d0e0 1px dashed; BORDER-BOTTOM: #c8d0e0 1px dashed
}
BLOCKQUOTE.st-markup P {
	MARGIN: 0px
}
CODE {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 1em
}
H1.st-markup {
	MARGIN-TOP: 0px
}
H2.st-markup {
	MARGIN-TOP: 0px
}
H3.st-markup {
	MARGIN-TOP: 0px
}
H4.st-markup {
	MARGIN-TOP: 0px
}
H5.st-markup {
	MARGIN-TOP: 0px
}
H6.st-markup {
	MARGIN-TOP: 0px
}
INPUT.FormHelper-invalid {
	BACKGROUND-COLOR: #ffc0cb
}
SELECT.FormHelper-invalid {
	BACKGROUND-COLOR: #ffc0cb
}
TEXTAREA.FormHelper-invalid {
	BACKGROUND-COLOR: #ffc0cb
}
LABEL.FormHelper-invalid {
	FONT-WEIGHT: bold; COLOR: red
}
LABEL.FormHelper-invalid:unknown {
	FONT-SIZE: smaller; COLOR: red; content: ' (required)'
}
INPUT.Formation-invalid {
	BACKGROUND-COLOR: #ffc0cb
}
SELECT.Formation-invalid {
	BACKGROUND-COLOR: #ffc0cb
}
TEXTAREA.Formation-invalid {
	BACKGROUND-COLOR: #ffc0cb
}
LABEL.Formation-invalid {
	FONT-WEIGHT: bold; COLOR: red
}
LABEL.Formation-invalid:unknown {
	FONT-SIZE: smaller; COLOR: red; content: ' (required)'
}
TABLE.calendar {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.calendar TD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
TH {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
TABLE.calendar TH {
	FONT-SIZE: 7pt; HEIGHT: 10px
}
TABLE.calendar TD {
	FONT-SIZE: 9pt; WIDTH: 19px; HEIGHT: 10px
}
TABLE.calendar .calendar-month {
	MARGIN-TOP: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; TEXT-ALIGN: center
}
TABLE.calendar .calendar-month A {
	TEXT-DECORATION: none
}
TABLE.calendar .calendar-prev {
	FONT-WEIGHT: normal
}
TABLE.calendar .calendar-next {
	FONT-WEIGHT: normal
}
TABLE.calendar TH {
	COLOR: green; TEXT-ALIGN: center
}
TABLE.calendar TD.linked-day {
	FONT-SIZE: 11pt
}
TABLE.prevnext {
	MARGIN-TOP: 0.3em; WIDTH: 100%
}
TABLE.prevnext TD {
	FONT-SIZE: smaller
}
TABLE.prevnext TD A {
	TEXT-DECORATION: none
}
.content-main {
	WIDTH: 100%
}
.header {
	WIDTH: 100%
}
.footer {
	WIDTH: 100%
}
.content-left {
	BORDER-RIGHT: #ccc thin dashed; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 10pt; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; WIDTH: 110px; PADDING-TOP: 4px; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: left
}
.content-middle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; WIDTH: 625px; PADDING-TOP: 10px
}
.content-right {
	PADDING-LEFT: 0.8ex; VERTICAL-ALIGN: top; BORDER-LEFT: #ccc thin dashed; BACKGROUND-COLOR: #eee
}
H1 {
	FONT-WEIGHT: bold; COLOR: #006; FONT-FAMILY: arial,helvetica,sans-serif
}
H2 {
	FONT-WEIGHT: bold; COLOR: #006; FONT-FAMILY: arial,helvetica,sans-serif
}
H3 {
	FONT-WEIGHT: bold; COLOR: #006; FONT-FAMILY: arial,helvetica,sans-serif
}
H4 {
	FONT-WEIGHT: bold; COLOR: #006; FONT-FAMILY: arial,helvetica,sans-serif
}
H1 {
	MARGIN-TOP: 0.2em; FONT-SIZE: 140%
}
H2 {
	FONT-SIZE: 125%
}
H3 {
	FONT-SIZE: 110%
}
H4 {
	FONT-SIZE: 100%
}
INPUT {
	FONT-FAMILY: arial, helvetica, sans-serif
}
INPUT.small {
	FONT-SIZE: 9pt
}
SELECT.small {
	FONT-SIZE: 9pt
}
TEXTAREA {
	FONT-SIZE: 10pt; FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace
}
TEXTAREA.small {
	FONT-SIZE: 9pt
}
PRE {
	FONT-SIZE: 90%; FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace
}
CODE {
	FONT-SIZE: 90%; FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace
}
TT {
	FONT-SIZE: 90%; FONT-FAMILY: "andale mono", "monotype.com", "courier new", monospace
}
CODE {
	BORDER-RIGHT: #c8d0e0 thin dashed; BORDER-TOP: #c8d0e0 thin dashed; DISPLAY: block; FONT-SIZE: 8pt; MARGIN-LEFT: 10px; BORDER-LEFT: #c8d0e0 thin dashed; LINE-HEIGHT: 1.3em; MARGIN-RIGHT: 15px; BORDER-BOTTOM: #c8d0e0 thin dashed; BACKGROUND-COLOR: #f0f0f0
}
UL.tab-navigation {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px; BORDER-TOP-STYLE: none; LINE-HEIGHT: 1.2em; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
UL.tab-navigation LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px
}
UL.tab-navigation A {
	BORDER-RIGHT: #b7c0d0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: smaller; MARGIN-BOTTOM: -3px; PADDING-BOTTOM: 2px; BORDER-LEFT: white 1px solid; WIDTH: auto; COLOR: white; PADDING-TOP: 2px; BORDER-BOTTOM: #b7c0d0 1px solid; FONT-FAMILY: verdana; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #98a0b8; TEXT-DECORATION: none; moz-border-radius: .5em .5em 0em 0em; border-radius: .5em .5em 0em 0em; border-top-right-radius: .5em; border-bottom-right-radius: .5em
}
UL.tab-navigation A:visited {
	BORDER-RIGHT: #b7c0d0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: white 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: smaller; MARGIN-BOTTOM: -3px; PADDING-BOTTOM: 2px; BORDER-LEFT: white 1px solid; WIDTH: auto; COLOR: white; PADDING-TOP: 2px; BORDER-BOTTOM: #b7c0d0 1px solid; FONT-FAMILY: verdana; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #98a0b8; TEXT-DECORATION: none; moz-border-radius: .5em .5em 0em 0em; border-radius: .5em .5em 0em 0em; border-top-right-radius: .5em; border-bottom-right-radius: .5em
}
UL.tab-navigation A:hover {
	BACKGROUND-COLOR: #c8d0e0
}
UL.tab-navigation A.active {
	COLOR: black; BACKGROUND-COLOR: #c8d0e0
}
UL.tab-navigation A.active:visited {
	COLOR: black; BACKGROUND-COLOR: #c8d0e0
}
UL.flat-list {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL.flat-list LI:unknown {
	marker-offset: 0
}
UL.flat-list LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; LIST-STYLE-POSITION: inside; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.delPost {
	FONT-SIZE: smaller; MARGIN-BOTTOM: 0.5em
}
.delPost P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
.delTag {
	FONT-STYLE: italic; TEXT-DECORATION: none
}
.delExtended {
	MARGIN-TOP: 0px; MARGIN-LEFT: 1em
}
H1 {
	MARGIN-BOTTOM: 0px
}
H2.weblog {
	BORDER-TOP-WIDTH: 0.2em; MARGIN-TOP: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 100%; BORDER-BOTTOM-WIDTH: 0.2em; MARGIN-BOTTOM: 0.5em; COLOR: black; FONT-FAMILY: verdana, sans-serif; LETTER-SPACING: 0.2em; HEIGHT: 1.4em; BACKGROUND-COLOR: #f0f0f0
}
H2.weblog A {
	COLOR: black; TEXT-DECORATION: none
}
H2.weblog A:hover {
	COLOR: #600
}
H2.weblog IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 3px; VERTICAL-ALIGN: middle; BORDER-RIGHT-WIDTH: 0px
}
H3.weblog A {
	TEXT-DECORATION: none
}
.weblog-entry-update-box {
	BORDER-RIGHT: red thin dashed; BORDER-TOP: red thin dashed; FONT-WEIGHT: normal; FONT-SIZE: smaller; FLOAT: right; BORDER-LEFT: red thin dashed; BORDER-BOTTOM: red thin dashed; LETTER-SPACING: normal
}
.weblog-entry {
	MARGIN-BOTTOM: 1em; MARGIN-LEFT: 1.5em; BORDER-BOTTOM: #cfcfcf 1px dotted
}
.update {
	MARGIN-BOTTOM: 1em; MARGIN-LEFT: 1.5em; BORDER-BOTTOM: #cfcfcf 1px dotted
}
.weblog-links  {
	VERTICAL-ALIGN: top
}
.weblog-links A {
	TEXT-DECORATION: none
}
.weblog-entry-footer {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 1em
}
.weblog-time {
	FONT-SIZE: 9pt; COLOR: #66c; LINE-HEIGHT: 1.2em
}
.weblog-links {
	FONT-SIZE: 9pt; COLOR: #66c; LINE-HEIGHT: 1.2em
}
.weblog-links {
	FLOAT: left; FONT-FAMILY: verdana, sans-serif
}
.weblog-time {
	FLOAT: right; COLOR: #66c; FONT-FAMILY: Georgia; TEXT-ALIGN: right
}
.weblog-comment-form {
	FONT-SIZE: smaller; MARGIN-LEFT: 2em
}
.weblog-comment-form TD {
	FONT-SIZE: smaller
}
.weblog-comment-info {
	FONT-SIZE: smaller; MARGIN-BOTTOM: 0.5em; TEXT-ALIGN: right
}
.weblog-recent-comment P.entry-title {
	FONT-SIZE: smaller; MARGIN-BOTTOM: 0px
}
.weblog-recent-comment P.comment-body {
	FONT-SIZE: smaller; MARGIN: 0px 0px 0px 0.8em
}
.weblog-recent-comment P.comment-date {
	FONT-SIZE: smaller; MARGIN: 0px
}
.weblog-comment-selected {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 1.5em; BORDER-BOTTOM: red 2px dotted; BACKGROUND-COLOR: #fff9f9
}
.weblog-comment-name {
	MARGIN: 0px 0px 2px 0.8em
}
.weblog-comment {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 1.5em; BORDER-BOTTOM: #cfcfcf 1px dotted; BACKGROUND-COLOR: #f0f0f0
}
UNKNOWN {
	MARGIN-TOP: 0px
}
TABLE.weblog-back-and-forward {
	BORDER-RIGHT: #98a0b8 1px dashed; BORDER-TOP: #98a0b8 1px dashed; BORDER-LEFT: #98a0b8 1px dashed; WIDTH: 100%; BORDER-BOTTOM: #98a0b8 1px dashed; TEXT-ALIGN: center
}
TABLE.weblog-back-and-forward TD.left {
	WIDTH: 38%; TEXT-ALIGN: left
}
TABLE.weblog-back-and-forward TD.right {
	WIDTH: 38%; TEXT-ALIGN: right
}
.backlinks {
	MARGIN-LEFT: 1.5em
}
.subscription-form {
	MARGIN-LEFT: 1.5em
}
.blogroll {
	MARGIN-TOP: 1em; FONT-SIZE: smaller; WHITE-SPACE: normal
}
.blogroll H2 {
	MARGIN-TOP: 5px; FONT-SIZE: 10pt; WHITE-SPACE: normal
}
.blogroll H3 {
	FONT-WEIGHT: bolder; FONT-SIZE: 8pt; FONT-FAMILY: verdana; WHITE-SPACE: normal
}
.blogroll UL {
	PADDING-LEFT: 0px; FONT-SIZE: 8pt; MARGIN-LEFT: 1em; TEXT-INDENT: -1em; FONT-FAMILY: verdana; LIST-STYLE-TYPE: none
}
.asides {
	PADDING-LEFT: 1.5em; FONT-SIZE: 9pt; PADDING-BOTTOM: 0.5em; MARGIN-LEFT: 1.5em; BORDER-BOTTOM: #006 1px dashed; FONT-FAMILY: Verdana, Arial, sans-serif; LIST-STYLE-TYPE: square
}
.asides LI {
	MARGIN-BOTTOM: 0.7em
}
.asides P {
	DISPLAY: inline; MARGIN: 0px
}
.aside-links {
	MARGIN: 0px
}
.aside-links .aside-with-comments {
	FONT-WEIGHT: bold
}
.aside-links A {
	TEXT-DECORATION: none
}
.new-comment-marker {
	FONT-WEIGHT: bold; COLOR: red
}
TABLE#software TD {
	VERTICAL-ALIGN: top
}
TH {
	VERTICAL-ALIGN: top
}
.when-updated {
	FONT-STYLE: italic
}
