/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom");
  src: url("../fonts/fontcustom.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom.woff") format("woff"),
       url("../fonts/fontcustom.ttf") format("truetype"),
       url("../fonts/fontcustom.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-accounts:before,
.icon-admin:before,
.icon-hr:before,
.icon-operations:before,
.icon-reservation:before,
.icon-umrah:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-accounts:before { content: "\f102"; }
.icon-admin:before { content: "\f103"; }
.icon-hr:before { content: "\f104"; }
.icon-operations:before { content: "\f105"; }
.icon-reservation:before { content: "\f106"; }
.icon-umrah:before { content: "\f10a"; }

.size-72 {
    font-size: 72px;
}
