/* @import "tailwindcss"; */


@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* Preline UI */
@source "../node_modules/preline/dist/*.js";
@import "../node_modules/preline/variants.css";

/* Plugins */
/* @plugin "@tailwindcss/forms"; */

@layer base {
  body {
    font-family: Arial, Helvetica, sans-serif !important;
  }
}


@layer utilities {
  .hero-unit-p-4 {
    padding: 60px 0 60px 0 !important;
  }
}

@custom-variant dark (&:where(.dark, .dark *));